[main]

# Name of the S3 bucket to use
s3_bucket:       josh-minecraft

# Name of the server, used for determining S3 key when working with backups
server_name:     daftcyborg

# Root directory of the server
server_root_dir: /minecraft

# Name of the world to operate on when creating backups
world_name:      dangerworld

